body {
    background-color: #E5E9F0;
}

ul {
    list-style-type: none;
}

.weather-card {
    background-color: #81A1C1;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.jumbotron {
    background-color: #D8DEE9;
}

#current-weather {
    background-color: #D8DEE9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.list-group-item {
    background-color: #5E81AC;
    border-radius: 12px;
}

.list-group-item:hover {
    background-color: #81A1C1;
}

.list-group-item:after {
    background-color: #81A1C1;
}